.btn{
    background-color: red;
    margin: 5px;
}

.btn-anchor{
    color: white;
    text-decoration: none;
    padding: 10px;
}

.btn-anchor:hover{
    color:dodgerblue;
}

#custom-table{
    width: 100%;
}

thead{
    color: grey;
}

.bold{
    font-weight: 600;
}

td, th{
    padding: 20px !important;
}

.center-icon{
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    #table-section{
        overflow-x: auto;
    }
}

@media only screen and (min-width: 1200px) {

}